@media print {
    @page {
      page-break-inside: avoid;
      position: relative;
      min-height: auto;
      /* size: A4; */
      /* portrait：直向列印，Landscape：橫向列印 */
    }
    #appBar {
        display: none;
    }
    #leftDrawer {
      display: none;
  }
}

img {
  border-radius: 2px;
}
